# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Logs / temp
*.log
*.tmp

# Environments
.venv/
venv/
env/

# MLflow local runs
mlruns/

# VS Code settings
.vscode/
Workflow-CI/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
